* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(204, 157, 240);
}

main {
    background-color: white;
    width: 540px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(rgb(0, 0, 0), green, blue, alpha);
}

h1 {
    font-size: 2.1em;
    color:rgb(58, 0, 112);
}

h2 {
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}

img.lado {
    width: 100px;
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}